{% extends 'base.html' %}

{% block content %}
<h5>Nama: </h5>
<b>{{nama}}</b>

<table class="data_table">
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    <button id="get">Get Data</button>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
</table>
<h5>Sesi terakhir login: {{ last_login }}</h5>

<div class = "login">
    
    <h1>Create Data</h1>  

        <form method="POST" id="add">  
            {% csrf_token %}  
            <table>  
                <tr>
                    <h3>Nama Barang</h3>
                    <input type="text" id="name" name="nama" placeholder="nama barang">
                </tr>
                <tr>
                    <h3>Harga Barang</h3>
                    <input type="text" id="price" name="harga" placeholder="harga barang">
                </tr>
                <tr>
                    <h3>Deskripsi</h3>
                    <input type="text" id="desc" name="deskripsi" placeholder="deskripsi barang">
                </tr>
            </table>  
        </form>
        <button id="add_button">add</button>

</div>  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#add_button").click(function(){
        // get the value of CSRF token
        var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
        var name = document.getElementById("name").value;
        var price = document.getElementById("price").value;
        var desc = document.getElementById("desc").value;

        $.post("/wishlist/ajax/submit/",{
            item_name: name,
            item_price: price,
            item_desc: desc,
            csrfmiddlewaretoken: CSRFtoken
        });
        $(".data_table").empty();
        $(".data_table").append(
            "<tr>" + 
                "<th>Nama Barang</th>"+
                "<th>Harga Barang</th>"+
                "<th>Deskripsi</th>"+
                '<button id="get">Get Data</button>'+
            "</tr>"
            );
        $("#get").click();
    });
});
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#get").click(function(){
        $.get("/wishlist/json", function(data) {
		$(".data_table").empty();
        	$(".data_table").append(
            		"<tr>" + 
                		"<th>Nama Barang</th>"+
                		"<th>Harga Barang</th>"+
                		"<th>Deskripsi</th>"+
                		'<button id="get">Get Data</button>'+
            		"</tr>"
            	);
            for(var i = 0 ; i < Object.keys(data).length; i++){
                $(".data_table").append(
                "<tr>" +
                    "<th>"+ data[i].fields.nama_barang +"</th>"+
                    "<th>"+ data[i].fields.harga_barang +"</th>"+
                    "<th>"+ data[i].fields.deskripsi +"</th>"+
                "</tr>"
                );
            }
        });
    });
});
</script>

{% endblock content %}
